.insta-bg{
    background-color: #f4f4f4;
}

.insta-fg {
    color: #262626;
}

.insta-fg-secondary {
    color:#8e8e8e
}

.login-container{
    height: 100vh;
    width: 100%;
}

.p-40{
    padding: 4em;
}

.p-30{
    padding: 3em;
}

.p-35{
    padding: 3.5em;
}

.errorlist{
    list-style-type: none;
    margin: 5px 2px;
    text-align: left;
}

.errorlist li {
    color: red;
    font-size: 12px;
    margin-bottom: 2px;
}

.error-field {
    border: 1px solid red;
}